workflow/jarvis-general-chat.json
{
  "name": "JARVIS 4.5 — General Chat",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "gc-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.groq.com/openai/v1/chat/completions",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {"name": "Authorization", "value": "=Bearer {{ $env.GROQ_API_KEY }}"},
            {"name": "Content-Type", "value": "application/json"}
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: ($env.JARVIS_MODEL || 'llama-3.3-70b-versatile'), temperature: 0.3, messages: [{ role: 'system', content: 'You are JARVIS 4.5, a highly capable personal AI Operating Assistant. You are helpful, proactive, precise, and concise. You can help with general questions, coding, analysis, and creative tasks. You have access to local device control and Google services through specialized agents. Respond concisely but thoroughly.' }, { role: 'user', content: ($json.inputText || '') }] }) }}",
        "options": {"timeout": 20000, "retryOnFail": true, "maxTries": 2},
        "jsCode": ""
      },
      "id": "gc-llm-001",
      "name": "Chat LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "jsCode": "const content = $json.choices?.[0]?.message?.content || 'I apologize, I could not generate a response.';\nreturn [{ json: { ...$input.item.json, responseText: content.trim(), success: true } }];"
      },
      "id": "gc-format-001",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Chat LLM", "type": "main", "index": 0}]]},
    "Chat LLM": {"main": [[{"node": "Format Output", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}
