workflow/jarvis-response-sender.json
{
  "name": "JARVIS 4.0 — Response Sender",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "rs-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = parseInt($env.TELEGRAM_MAX_MESSAGE_LENGTH || '4000', 10);\nlet text = String($json.responseText || '');\n\nfunction mdToHtml(md) {\n  return md\n    .replace(/^### (.*$)/gim, '<b>$1</b>\\n')\n    .replace(/^## (.*$)/gim, '<b>$1</b>\\n')\n    .replace(/^# (.*$)/gim, '<b>$1</b>\\n')\n    .replace(/\\*\\*(.*?)\\*\\*/gim, '<b>$1</b>')\n    .replace(/\\*(.*?)\\*/gim, '<i>$1</i>')\n    .replace(/`(.*?)`/gim, '<code>$1</code>')\n    .replace(/^\\s*[-*] (.*$)/gim, '\\u2022 $1')\n    .replace(/^\\s*\\d+\\. (.*$)/gim, '$1')\n    .replace(/\\n/gim, '\\n')\n    .slice(0, MAX_LEN);\n}\n\nconst htmlText = mdToHtml(text);\nconst parts = [];\nif (htmlText.length > MAX_LEN) {\n  let remaining = htmlText;\n  while (remaining.length > 0) {\n    let chunk = remaining.slice(0, MAX_LEN);\n    const lastBreak = Math.max(chunk.lastIndexOf('\\n'), chunk.lastIndexOf(' '), chunk.lastIndexOf('</b>') + 4);\n    if (lastBreak > MAX_LEN * 0.7) chunk = chunk.slice(0, lastBreak);\n    parts.push(chunk.trim());\n    remaining = remaining.slice(chunk.length);\n  }\n} else {\n  parts.push(htmlText);\n}\n\nreturn parts.map(p => ({ json: { ...$json, messageText: p, messageParts: parts } }));"
      },
      "id": "rs-split-001",
      "name": "Split & Format",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.metadata?.chatId, text: $json.messageText, parse_mode: 'HTML' }) }}",
        "options": {
          "timeout": 10000,
          "retryOnFail": true,
          "maxTries": 3,
          "waitBetweenTries": 2000
        },
        "jsCode": ""
      },
      "id": "rs-telegram-001",
      "name": "Send Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 140],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.responseText }) }}",
        "jsCode": ""
      },
      "id": "rs-web-001",
      "name": "Respond Web",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.responseText }) }}",
        "jsCode": ""
      },
      "id": "rs-local-001",
      "name": "Respond Local",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [820, 460]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Split & Format", "type": "main", "index": 0}]]},
    "Split & Format": {
      "main": [
        [
          {"node": "Send Telegram", "type": "main", "index": 0},
          {"node": "Respond Web", "type": "main", "index": 0},
          {"node": "Respond Local", "type": "main", "index": 0}
        ]
      ]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}