workflow/jarvis-translate-agent.json
{
  "name": "JARVIS 4.5 — Translate Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "tr-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\n\nif (!GOOGLE_API_KEY) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f GOOGLE_API_KEY not configured.', success: false } }];\n}\n\nlet endpoint, body;\nif (intent === 'translate') {\n  endpoint = 'https://translation.googleapis.com/language/translate/v2';\n  body = { q: params.text || $json.inputText || '', target: params.target_language || 'en', source: params.source_language || '', format: 'text' };\n} else if (intent === 'detect_language') {\n  endpoint = 'https://translation.googleapis.com/language/translate/v2/detect';\n  body = { q: params.text || $json.inputText || '' };\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown translate intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiBody: body } }];"}, "id": "tr-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"method": "POST", "url": "={{ $json.apiEndpoint }}", "sendBody": true, "specifyBody": "json", "jsonBody": "={{ JSON.stringify($json.apiBody) }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "options": {"timeout": 10000, "retryOnFail": true, "maxTries": 2}}, "id": "tr-api-001", "name": "Translate API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const translations = $json.data?.translations;\nif (!translations || translations.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udd04 No translation result.', success: true } }];\n}\nconst t = translations[0];\nconst sourceLang = t.detectedSourceLanguage || $json.apiBody?.source || 'auto';\nconst translated = t.translatedText;\nconst original = $json.apiBody?.q || '';\nconst text = `\ud83d\udd04 Translation (${sourceLang} \u2192 ${$json.apiBody?.target || 'en'}):\n\n${translated}`;\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "tr-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Translate API", "type": "main", "index": 0}]]}, "Translate API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
