workflow/jarvis-youtube-agent.json
{
  "name": "JARVIS 4.0 — YouTube Agent",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "yt-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\n\nlet endpoint, queryParams;\n\nif (intent === 'youtube_search') {\n  endpoint = 'https://www.googleapis.com/youtube/v3/search';\n  queryParams = {\n    part: 'snippet',\n    q: params.query || $json.inputText || '',\n    maxResults: params.max_results || 5,\n    type: 'video',\n    key: GOOGLE_API_KEY\n  };\n} else if (intent === 'youtube_download') {\n  return [{ json: { ...$json, responseText: '\\ud83c\\udfa5 Video download is not supported directly. Use a tool like yt-dlp on your laptop via the local bridge.', success: true } }];\n} else {\n  return [{ json: { ...$json, responseText: 'Unknown YouTube intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams } }];"
      },
      "id": "yt-build-001",
      "name": "Build Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "url": "={{ $json.apiEndpoint }}",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {"name": "part", "value": "=snippet"},
            {"name": "q", "value": "={{ $json.apiParams.q }}"},
            {"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"},
            {"name": "type", "value": "=video"},
            {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}
          ]
        },
        "options": {
          "timeout": 15000,
          "retryOnFail": true,
          "maxTries": 2
        },
        "jsCode": ""
      },
      "id": "yt-api-001",
      "name": "YouTube API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "const items = $json.items || [];\nif (items.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: 'No videos found.', success: true } }];\n}\n\nlet text = '\\ud83c\\udfac YouTube Results:\\n\\n';\nitems.forEach((item, i) => {\n  const title = item.snippet?.title || 'Untitled';\n  const channel = item.snippet?.channelTitle || 'Unknown';\n  const videoId = item.id?.videoId;\n  const url = videoId ? 'https://youtube.com/watch?v=' + videoId : '';\n  text += `${i+1}. <b>${title}</b>\\n   by ${channel}\\n   ${url}\\n\\n`;\n});\n\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"
      },
      "id": "yt-format-001",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]},
    "Build Request": {"main": [[{"node": "YouTube API", "type": "main", "index": 0}]]},
    "YouTube API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}