workflow/jarvis-tasks-agent.json
{
  "name": "JARVIS 4.5 — Tasks Agent",
  "nodes": [
    {"parameters": {"jsCode": "return [$input.item];"}, "id": "ta-input-001", "name": "Input", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [340, 300]},
    {"parameters": {"jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst GOOGLE_API_KEY = $env.GOOGLE_API_KEY || '';\n\nif (!GOOGLE_API_KEY) {\n  return [{ json: { ...$json, responseText: '\u26a0\ufe0f GOOGLE_API_KEY not configured.', success: false } }];\n}\n\nlet endpoint, queryParams;\nconst tasklist = params.tasklist_id || '@default';\n\nif (intent === 'tasks_list') {\n  endpoint = `https://tasks.googleapis.com/tasks/v1/lists/${tasklist}/tasks`;\n  queryParams = { showCompleted: String(params.show_completed !== false), maxResults: 50 };\n} else {\n  return [{ json: { ...$json, responseText: '\u2753 Unknown Tasks intent: ' + intent, success: false } }];\n}\n\nreturn [{ json: { ...$json, apiEndpoint: endpoint, apiParams: queryParams } }];"}, "id": "ta-build-001", "name": "Build Request", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [580, 300]},
    {"parameters": {"url": "={{ $json.apiEndpoint }}", "sendQuery": true, "queryParameters": {"parameters": [{"name": "showCompleted", "value": "={{ $json.apiParams.showCompleted }}"}, {"name": "maxResults", "value": "={{ $json.apiParams.maxResults }}"}, {"name": "key", "value": "={{ $env.GOOGLE_API_KEY }}"}]}, "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2}}, "id": "ta-api-001", "name": "Tasks API", "type": "n8n-nodes-base.httpRequest", "typeVersion": 4.2, "position": [820, 300]},
    {"parameters": {"jsCode": "const items = $json.items || [];\nif (items.length === 0) {\n  return [{ json: { ...$input.item.json, responseText: '\ud83d\udccb No tasks found.', success: true } }];\n}\nlet text = '\ud83d\udccb Tasks:\n\n';\nitems.forEach((t, i) => {\n  const status = t.status === 'completed' ? '\u2705' : '\u2b1c';\n  const title = t.title || 'Untitled';\n  const due = t.due ? ` (Due: ${t.due.split('T')[0]})` : '';\n  text += `${status} ${title}${due}\n`;\n});\nreturn [{ json: { ...$input.item.json, responseText: text, success: true } }];"}, "id": "ta-format-001", "name": "Format Response", "type": "n8n-nodes-base.code", "typeVersion": 2, "position": [1060, 300]}
  ],
  "connections": {"Input": {"main": [[{"node": "Build Request", "type": "main", "index": 0}]]}, "Build Request": {"main": [[{"node": "Tasks API", "type": "main", "index": 0}]]}, "Tasks API": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}},
  "settings": {"executionOrder": "v1"}, "staticData": null, "tags": []
}
