workflow/jarvis-response-sender.json
{
  "name": "JARVIS 4.5 — Response Sender",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "rs-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const MAX_LEN = parseInt($env.TELEGRAM_MAX_MESSAGE_LENGTH || '4000', 10);\nconst source = $json.source;\nconst rawText = $json.responseText || '';\n\nlet text = rawText;\n\n// Truncate for Telegram\nif (source === 'telegram' && text.length > MAX_LEN) {\n  text = text.substring(0, MAX_LEN - 20) + '... [truncated]';\n}\n\n// Handle markdown-style formatting\ntext = text.replace(/\\*\\*(.*?)\\*\\*/g, '<b>$1</b>');\ntext = text.replace(/\\*(.*?)\\*/g, '<i>$1</i>');\ntext = text.replace(/`(.*?)`/g, '<code>$1</code>');\n\n// Escape HTML entities that aren't our tags\ntext = text.replace(/&(?!amp;|lt;|gt;|#)/g, '&amp;');\n\nreturn [{ json: { ...$json, messageText: text } }];"
      },
      "id": "rs-format-001",
      "name": "Format Output",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "is-telegram", "leftValue": "={{ $json.source }}", "rightValue": "telegram", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {},
        "jsCode": ""
      },
      "id": "rs-if-telegram-001",
      "name": "Is Telegram?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {"caseSensitive": true, "leftValue": "", "typeValidation": "strict", "version": 1},
          "conditions": [{"id": "is-website", "leftValue": "={{ $json.source }}", "rightValue": "website", "operator": {"type": "string", "operation": "equals"}}],
          "combinator": "and"
        },
        "options": {},
        "jsCode": ""
      },
      "id": "rs-if-website-001",
      "name": "Is Website?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [820, 420]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.telegram.org/bot{{ $env.TELEGRAM_BOT_TOKEN }}/sendMessage",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ chat_id: $json.metadata?.chatId, text: $json.messageText, parse_mode: 'HTML', reply_to_message_id: parseInt($json.messageId) || undefined }) }}",
        "options": {"timeout": 10000, "retryOnFail": true, "maxTries": 3, "waitBetweenTries": 2000},
        "jsCode": ""
      },
      "id": "rs-send-telegram-001",
      "name": "Send to Telegram",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1060, 180],
      "continueOnFail": true
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.messageText, source: $json.source, version: '4.5.0' }) }}",
        "jsCode": ""
      },
      "id": "rs-respond-web-001",
      "name": "Respond to Website",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 420]
    },
    {
      "parameters": {
        "respondWith": "json",
        "options": {},
        "responseBody": "={{ JSON.stringify({ success: true, response: $json.messageText, source: $json.source, version: '4.5.0' }) }}",
        "jsCode": ""
      },
      "id": "rs-respond-local-001",
      "name": "Respond to Local",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [1060, 540]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Format Output", "type": "main", "index": 0}]]},
    "Format Output": {"main": [[{"node": "Is Telegram?", "type": "main", "index": 0}]]},
    "Is Telegram?": {
      "main": [
        [{"node": "Send to Telegram", "type": "main", "index": 0}],
        [{"node": "Is Website?", "type": "main", "index": 0}]
      ]
    },
    "Is Website?": {
      "main": [
        [{"node": "Respond to Website", "type": "main", "index": 0}],
        [{"node": "Respond to Local", "type": "main", "index": 0}]
      ]
    }
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}
