workflow/jarvis-local-bridge.json
{
  "name": "JARVIS 4.5 — Local Device Bridge",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "lb-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "jsCode": "const intent = $json.intent || '';\nconst params = $json.intentParams || {};\nconst text = $json.inputText || '';\n\nconst intentMap = {\n  'local_screenshot': { action: 'screenshot', params: {} },\n  'local_browser': { action: params.action || 'browser_open', params: { url: params.url || text.match(/https?:\/\/[^\\s]+/)?.[0] || 'about:blank' } },\n  'local_app': { action: 'app_open', params: { app_name: params.app || text.replace(/open|launch|start/i, '').trim() } },\n  'local_file': { action: params.file_action || 'file_list', params: { path: params.path || '~' } },\n  'local_shell': { action: 'shell_exec', params: { command: params.command || text } },\n  'local_system': { action: 'system_info', params: {} }\n};\n\nconst mapped = intentMap[intent] || { action: 'system_info', params: { query: text } };\n\nreturn [{\n  json: {\n    ...$json,\n    action: mapped.action,\n    params: mapped.params,\n    command_id: 'cmd_' + Date.now(),\n    requires_confirmation: ['shell_exec', 'file_delete', 'app_close'].includes(mapped.action)\n  }\n}];"
      },
      "id": "lb-map-001",
      "name": "Map Intent to Command",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [580, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=ws://localhost:{{ $env.BRIDGE_PORT || '8765' }}/jarvis-bridge",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ type: 'command', payload: { command_id: $json.command_id, action: $json.action, params: $json.params, requires_confirmation: $json.requires_confirmation, source: 'n8n' }, id: $json.command_id }) }}",
        "options": {"timeout": 15000, "retryOnFail": true, "maxTries": 2},
        "jsCode": ""
      },
      "id": "lb-ws-001",
      "name": "Send to Local Bridge",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [820, 300]
    },
    {
      "parameters": {
        "jsCode": "const action = $json.action || 'unknown';\nconst params = $json.params || {};\n\n// Fallback HTTP bridge\nconst http = require('http');\n\nreturn new Promise((resolve) => {\n  const postData = JSON.stringify({\n    type: 'command',\n    payload: {\n      command_id: $json.command_id,\n      action: action,\n      params: params,\n      requires_confirmation: $json.requires_confirmation\n    }\n  });\n\n  const req = http.request(\n    { hostname: 'localhost', port: parseInt($env.BRIDGE_PORT || '8765'), path: '/', method: 'POST', headers: { 'Content-Type': 'application/json', 'Content-Length': Buffer.byteLength(postData) } },\n    (res) => {\n      let data = '';\n      res.on('data', chunk => data += chunk);\n      res.on('end', () => {\n        try {\n          const result = JSON.parse(data);\n          resolve([{ json: { ...$json, ...result, bridge_used: 'http' } }]);\n        } catch (e) {\n          resolve([{ json: { ...$json, responseText: data, bridge_used: 'http' } }]);\n        }\n      });\n    }\n  );\n  req.on('error', () => {\n    resolve([{ json: { ...$json, responseText: 'Local device bridge unavailable. Ensure bridge_server.py is running.', success: false } }]);\n  });\n  req.write(postData);\n  req.end();\n});"
      },
      "id": "lb-http-001",
      "name": "HTTP Bridge Fallback",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1060, 300]
    },
    {
      "parameters": {
        "jsCode": "const res = $json;\n\n// Check if we got a valid bridge response\nif (res.status) {\n  const status = res.status;\n  const output = res.stdout || res.result || '';\n  const error = res.stderr || res.error || '';\n\n  if (status === 'success') {\n    return [{ json: { ...$json, responseText: `\u2705 Command executed:\n\n${output}`, success: true } }];\n  } else if (status === 'blocked') {\n    return [{ json: { ...$json, responseText: `\ud83d\udeab Command blocked by safety policy.`, success: false } }];\n  } else if (status === 'denied') {\n    return [{ json: { ...$json, responseText: `\u274c User denied the operation.`, success: false } }];\n  } else if (status === 'timeout') {\n    return [{ json: { ...$json, responseText: `\u23f0 Command timed out.`, success: false } }];\n  } else {\n    return [{ json: { ...$json, responseText: `\u26a0\ufe0f Error:\n${error}\n${output}`, success: false } }];\n  }\n}\n\n// Direct response from HTTP fallback\nreturn [{ json: { ...$json, responseText: res.responseText || 'Device operation completed.', success: res.success !== false } }];"
      },
      "id": "lb-format-001",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1300, 300]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Map Intent to Command", "type": "main", "index": 0}]]},
    "Map Intent to Command": {"main": [[{"node": "Send to Local Bridge", "type": "main", "index": 0}]]},
    "Send to Local Bridge": {"main": [[{"node": "HTTP Bridge Fallback", "type": "main", "index": 0}]]},
    "HTTP Bridge Fallback": {"main": [[{"node": "Format Response", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}
