workflow/jarvis-service-dispatcher.json
{
  "name": "JARVIS 4.0 — Service Dispatcher",
  "nodes": [
    {
      "parameters": {"jsCode": "return [$input.item];"},
      "id": "sd-input-001",
      "name": "Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [340, 300]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-youtube","leftValue":"={{ $json.intent }}","rightValue":"youtube_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-drive","leftValue":"={{ $json.intent }}","rightValue":"drive_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-gmail","leftValue":"={{ $json.intent }}","rightValue":"gmail_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-calendar","leftValue":"={{ $json.intent }}","rightValue":"calendar_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-translate","leftValue":"={{ $json.intent }}","rightValue":"translate","operator":{"type":"string","operation":"equals"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-contacts","leftValue":"={{ $json.intent }}","rightValue":"contacts_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-docs","leftValue":"={{ $json.intent }}","rightValue":"docs_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-slides","leftValue":"={{ $json.intent }}","rightValue":"slides_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-tasks","leftValue":"={{ $json.intent }}","rightValue":"tasks_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}},
            {"conditions": {"options": {"caseSensitive":true,"typeValidation":"strict","version":1}, "conditions": [{"id":"svc-sheets","leftValue":"={{ $json.intent }}","rightValue":"sheets_","operator":{"type":"string","operation":"startsWith"}}], "combinator": "and"}}
          ]
        },
        "options": {"fallbackOutput": 9},
        "jsCode": ""
      },
      "id": "sd-route-001",
      "name": "Route by Service",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [580, 300]
    },
    {
      "parameters": {"workflowId": "=jarvis-youtube-agent", "jsCode": ""},
      "id": "sd-youtube-001",
      "name": "YouTube Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 60]
    },
    {
      "parameters": {"workflowId": "=jarvis-drive-agent", "jsCode": ""},
      "id": "sd-drive-001",
      "name": "Drive Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 140]
    },
    {
      "parameters": {"workflowId": "=jarvis-gmail-agent", "jsCode": ""},
      "id": "sd-gmail-001",
      "name": "Gmail Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 220]
    },
    {
      "parameters": {"workflowId": "=jarvis-calendar-agent", "jsCode": ""},
      "id": "sd-calendar-001",
      "name": "Calendar Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 300]
    },
    {
      "parameters": {"workflowId": "=jarvis-translate-agent", "jsCode": ""},
      "id": "sd-translate-001",
      "name": "Translate Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 380]
    },
    {
      "parameters": {"workflowId": "=jarvis-contacts-agent", "jsCode": ""},
      "id": "sd-contacts-001",
      "name": "Contacts Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 460]
    },
    {
      "parameters": {"workflowId": "=jarvis-docs-agent", "jsCode": ""},
      "id": "sd-docs-001",
      "name": "Docs Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 540]
    },
    {
      "parameters": {"workflowId": "=jarvis-slides-agent", "jsCode": ""},
      "id": "sd-slides-001",
      "name": "Slides Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 620]
    },
    {
      "parameters": {"workflowId": "=jarvis-sheets-agent", "jsCode": ""},
      "id": "sd-sheets-001",
      "name": "Sheets Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 700]
    },
    {
      "parameters": {"workflowId": "=jarvis-tasks-agent", "jsCode": ""},
      "id": "sd-tasks-001",
      "name": "Tasks Agent",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.1,
      "position": [820, 780]
    },
    {
      "parameters": {
        "mode": "combine",
        "combinationMode": "mergeByPosition",
        "options": {}
      },
      "id": "sd-merge-001",
      "name": "Merge Agent Outputs",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [1060, 300]
    }
  ],
  "connections": {
    "Input": {"main": [[{"node": "Route by Service", "type": "main", "index": 0}]]},
    "Route by Service": {
      "main": [
        [{"node": "YouTube Agent", "type": "main", "index": 0}],
        [{"node": "Drive Agent", "type": "main", "index": 0}],
        [{"node": "Gmail Agent", "type": "main", "index": 0}],
        [{"node": "Calendar Agent", "type": "main", "index": 0}],
        [{"node": "Translate Agent", "type": "main", "index": 0}],
        [{"node": "Contacts Agent", "type": "main", "index": 0}],
        [{"node": "Docs Agent", "type": "main", "index": 0}],
        [{"node": "Slides Agent", "type": "main", "index": 0}],
        [{"node": "Sheets Agent", "type": "main", "index": 0}],
        [{"node": "Tasks Agent", "type": "main", "index": 0}]
      ]
    },
    "YouTube Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Drive Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Gmail Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Calendar Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Translate Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Contacts Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Docs Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Slides Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Sheets Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]},
    "Tasks Agent": {"main": [[{"node": "Merge Agent Outputs", "type": "main", "index": 0}]]}
  },
  "settings": {"executionOrder": "v1"},
  "staticData": null,
  "tags": []
}