jarvis_workflow.json
{
  "name": "JARVIS: Ultimate Automation Engine",
  "nodes": [
    {
      "parameters": {
        "updates": [
          "message",
          "voice"
        ],
        "options": {}
      },
      "id": "78a9b1c2-d3e4-4f5a-8b9c-0d1e2f3a4b5c",
      "name": "Telegram Trigger",
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1,
      "position": [
        -500,
        200
      ]
    },
    {
      "parameters": {
        "path": "jarvis-v2",
        "options": {
          "responseData": "allEntries",
          "responseMode": "lastNode"
        },
        "httpMethod": "POST"
      },
      "id": "89b0c1d2-e3f4-4a5b-9c0d-1e2f3a4b5c6d",
      "name": "Webhook Entry",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -500,
        400
      ]
    },
    {
      "parameters": {
        "resource": "chat",
        "operation": "sendAction",
        "chatId": "={{ $json.message?.chat?.id }}",
        "action": "typing"
      },
      "id": "90c1d2e3-f4a5-4b6c-0d1e-2f3a4b5c6d7e",
      "name": "UX: Typing Indicator",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        -250,
        100
      ],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "conditions": [
            {
              "leftValue": "={{ $json.message?.voice ? 'yes' : 'no' }}",
              "rightValue": "yes",
              "operator": "equals"
            }
          ]
        }
      },
      "id": "01d2e3f4-a5b6-4c7d-1e2f-3a4b5c6d7e8f",
      "name": "Input Type Router",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        0,
        250
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/bot{{$credentials.telegramApi.oauthToken}}/getFile?file_id={{ $json.message.voice.file_id }}",
        "method": "GET"
      },
      "id": "12e3f4a5-b6c7-4d8e-2f3a-4b5c6d7e8f90",
      "name": "Voice: Get Path",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        250,
        100
      ]
    },
    {
      "parameters": {
        "url": "=https://api.telegram.org/file/bot{{$credentials.telegramApi.oauthToken}}/{{ $json.result.file_path }}",
        "options": {
          "response": {
            "response": "fileData"
          }
        }
      },
      "id": "23f4a5b6-c7d8-4e9f-3a4b-5c6d7e8f90a1",
      "name": "Voice: Download",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        450,
        100
      ]
    },
    {
      "parameters": {
        "url": "https://api.groq.com/openai/v1/audio/transcriptions",
        "method": "POST",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": "=Bearer {{$credentials.groqApi.apiKey}}"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "whisper-large-v3"
            },
            {
              "name": "file",
              "value": "={{ $binary.data }}"
            },
            {
              "name": "language",
              "value": "ar"
            }
          ]
        },
        "options": {
          "body": {
            "contentType": "multipart-form-data"
          }
        }
      },
      "id": "34f5a6b7-c8d9-4e0f-4b5c-6d7e8f90a1b2",
      "name": "Voice: Groq Whisper",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        650,
        100
      ]
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "source",
              "value": "={{ $node[\"Telegram Trigger\"].exists() ? 'telegram' : 'webhook' }}"
            },
            {
              "name": "chatId",
              "value": "={{ $json.message?.chat?.id || $json.chatId }}"
            },
            {
              "name": "userInput",
              "value": "={{ $json.text || $json.message?.text || $json.message || 'No input detected' }}"
            }
          ]
        }
      },
      "id": "45f6a7b8-c9d0-4e1f-5c6d-7e8f90a1b2c3",
      "name": "Logic: Context Prep",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [
        900,
        250
      ]
    },
    {
      "parameters": {
        "agentType": "toolsAgent",
        "systemMessage": "## JARVIS: SENIOR EXPERT PROTOCOL\n**Identity**: Senior Expert Digital Butler (JARVIS). \n**Core Methodology**: First Principles Thinking. Deconstruct requests into fundamental truths before synthesis.\n**Tone**: Clinical precision, hyper-concise, zero filler. Empathy level: 5%. Professional but blunt constructive critique.\n**Language**: Match user language (Arabic/English) with technical seniority.\n\n### Operational Rules:\n1. **One-Shot Execution**: Deliver finalized results immediately. No placeholders.\n2. **Tool Proactivity**: Use tools to execute actions, not describe them.\n3. **Formatting**: Use Markdown tables for data, bolding for key terms, and structured blocks.\n4. **Failure Logic**: If a tool fails, diagnose the root cause and inform the user with logical clarity, not an apology.",
        "options": {
          "sessionId": "={{ $json.chatId || 'default' }}"
        }
      },
      "id": "56f7a8b9-c0d1-4e2f-6d7e-8f90a1b2c3d4",
      "name": "AI: JARVIS Core",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1,
      "position": [
        1150,
        250
      ]
    },
    {
      "parameters": {
        "model": "gemini-1.5-flash",
        "options": {
          "temperature": 0.2,
          "maxOutputTokens": 4096
        }
      },
      "id": "67f8a9b0-c1d2-4e3f-7d8e-9f0a1b2c3d4e",
      "name": "LLM: Gemini 1.5 Flash",
      "type": "@n8n/n8n-nodes-langchain.lmChatGemini",
      "typeVersion": 1,
      "position": [
        1050,
        450
      ],
      "credentials": {
        "googleAiPalmApi": {
          "id": "PLACEHOLDER_GEMINI_CRED_ID",
          "name": "Google Gemini API"
        }
      }
    },
    {
      "parameters": {
        "contextWindowSize": 10,
        "sessionKey": "={{ $json.chatId || 'default' }}"
      },
      "id": "78f9aa01-d2e3-4f4a-8e9f-0a1b2c3d4e5f",
      "name": "Memory: Session",
      "type": "@n8n/n8n-nodes-langchain.memoryWindowBuffer",
      "typeVersion": 1,
      "position": [
        1250,
        450
      ]
    },
    {
      "parameters": {
        "resource": "event",
        "operation": "getAll"
      },
      "id": "89faab12-e3f4-4a5b-9f0a-1b2c3d4e5f6a",
      "name": "Tool: Google Calendar",
      "type": "n8n-nodes-base.googleCalendar",
      "typeVersion": 2,
      "position": [
        1450,
        50
      ]
    },
    {
      "parameters": {
        "resource": "search",
        "operation": "list",
        "part": [
          "snippet"
        ],
        "maxResults": 5
      },
      "id": "90fbbc23-f4a5-4b6c-0a1b-2c3d4e5f6a7b",
      "name": "Tool: YouTube",
      "type": "n8n-nodes-base.youtube",
      "typeVersion": 1,
      "position": [
        1450,
        200
      ]
    },
    {
      "parameters": {
        "name": "web_search_api",
        "description": "Execute HTTP requests for real-time data, weather, or news."
      },
      "id": "01fccd34-a5b6-4c7d-1b2c-3d4e5f6a7b8c",
      "name": "Tool: Universal API",
      "type": "@n8n/n8n-nodes-langchain.toolHttpRequest",
      "typeVersion": 1,
      "position": [
        1450,
        350
      ]
    },
    {
      "parameters": {
        "dataType": "string",
        "value1": "={{ $node[\"Logic: Context Prep\"].json.source }}",
        "rules": {
          "rules": [
            {
              "value1": "telegram",
              "value2": "telegram",
              "operation": "equals"
            },
            {
              "value1": "webhook",
              "value2": "webhook",
              "operation": "equals"
            }
          ]
        }
      },
      "id": "12fdde45-b6c7-4d8e-2c3d-4e5f6a7b8c9d",
      "name": "Logic: Route Output",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 2,
      "position": [
        1700,
        250
      ]
    },
    {
      "parameters": {
        "chatId": "={{ $node[\"Logic: Context Prep\"].json.chatId }}",
        "text": "={{ $json.output }}",
        "additionalFields": {
          "parse_mode": "MarkdownV2"
        }
      },
      "id": "23fee56-c7d8-4e9f-3d4e-5f6a7b8c9d0e",
      "name": "Reply: Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1950,
        150
      ]
    },
    {
      "parameters": {
        "responseBody": "={ \"output\": \"{{ $json.output }}\" }"
      },
      "id": "34ff67-d8e9-4f0a-4e5f-6a7b8c9d0e1f",
      "name": "Reply: Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1950,
        350
      ]
    }
  ],
  "connections": {
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "UX: Typing Indicator",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UX: Typing Indicator": {
      "main": [
        [
          {
            "node": "Input Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Entry": {
      "main": [
        [
          {
            "node": "Input Type Router",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Type Router": {
      "main": [
        [
          {
            "node": "Voice: Get Path",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Logic: Context Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice: Get Path": {
      "main": [
        [
          {
            "node": "Voice: Download",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice: Download": {
      "main": [
        [
          {
            "node": "Voice: Groq Whisper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Voice: Groq Whisper": {
      "main": [
        [
          {
            "node": "Logic: Context Prep",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Context Prep": {
      "main": [
        [
          {
            "node": "AI: JARVIS Core",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI: JARVIS Core": {
      "main": [
        [
          {
            "node": "Logic: Route Output",
            "type": "main",
            "index": 0
          }
        ]
      ],
      "ai_languageModel": [
        [
          {
            "node": "LLM: Gemini 1.5 Flash",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ],
      "ai_memory": [
        [
          {
            "node": "Memory: Session",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ],
      "ai_tool": [
        [
          {
            "node": "Tool: Google Calendar",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: YouTube",
            "type": "ai_tool",
            "index": 0
          }
        ],
        [
          {
            "node": "Tool: Universal API",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Logic: Route Output": {
      "main": [
        [
          {
            "node": "Reply: Telegram",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Reply: Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
